agenda {

  padding: 10px;

  ion-select {
    color: white;
    max-width: 100%;
    font-size: 18px;
    text-align: center;
  }

  ion-list {
    margin: 0px !important;
    ion-row {
      border-bottom: 1px solid lightslategray;
      box-shadow: -2px 1px 3px 1px darkgrey;
    }
  }
}
